*{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr; 
    grid-template-areas:
    "cabecalho"
    "principal" 
    "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color: rgb(13, 20, 216);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: 0px 4px 12px -22px rgba(0,0,0,0.75);
}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;
}

.cabecalho > h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.6rem;
}

.principal {
    grid-area: principal;
    height: calc(100vh - 180px); 
    background-color: rgb(203, 202, 202);
    padding: 22px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    padding: 22px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.rodape {
    grid-area: rodape;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: rgba(55, 48, 48, 0.469);
    position: sticky;
    bottom: 0px;
    color: gray;
}

.modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo {
    flex-basis: 32%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.modulo > h3 {
    margin: 0px;
    color: rgb(11, 221, 236);
/*    font-size: 18px; */
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10px 20px;
    background-color: rgb(5, 5, 105);
}

.modulo > ul {
    margin: 0px;
    padding: 10px;
    list-style: none; 
}

.modulo > ul > li {
    padding: 4px;
    cursor: pointer;

    background-color: gainsboro;
    font-size: 1.2rem;
    font-weight: 200;
}

.modulo > ul > li > a {
    display: flex;
    text-decoration: none;
}

.modulo > ul > li:hover {
    background-color: #EEE;
}

.modulo.verde { border: 2px solid greenyellow; }
.modulo.verde > h3 { background-color: greenyellow; }

.modulo.red { border: 2px solid red; }
.modulo.red > h3 { background-color:red; }

.modulo.amarelo { border: 2px solid yellow; }
.modulo.amarelo > h3 { background-color: yellow; }

.modulo.blue { border: 2px solid rgb(24, 172, 172); }
.modulo.blue > h3 { background-color: rgb(24, 172, 172); }

.modulo.laranja { border: 2px solid orange; }
.modulo.laranja > h3 { background-color: orange; }

.modulo.rosa { border: 2px solid pink; }
.modulo.rosa > h3 { background-color: pink; }

.modulo.roxo { border: 2px solid purple; }
.modulo.roxo > h3 { background-color: purple; }

.modulo.aqua { border: 2px solid aqua; }
.modulo.aqua > h3 { background-color: aqua; }

.modulo.marrom { border: 2px solid brown; }
.modulo.marrom > h3 { background-color:brown; }
